<div id="<%= dom_id idea %>">
  <p>
    <strong>Title:</strong>
    <%= idea.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= idea.description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= image_tag(idea.picture.url, width: "300px") if idea.picture.present? %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= idea.published %>
  </p>

  <p>
    <strong>At:</strong>
    <%= idea.at %>
  </p>

</div>
